---
import Layout from '../layouts/Layout.astro';
import Headline from '../components/Headline.astro';
import Tips from '../components/Tips.astro';
import ProjectStripe from '../components/ProjectStripe.astro';
import Section from '../components/Section.astro';
import Card from '../components/Card.astro';
import Alert from '../components/atom/Alert.astro';
import Image from '../components/atom/Image.astro';
import Button from '../components/atom/Button.astro';
import H1 from '../components/H1.astro';
import ButtonContact from '../components/ButtonContact.astro'


const steps = [
    {
        icon: 'message', 
        text: `Vous prenez <a href="/contacts" class="text-purple">contact</a> avec nous par mail ou par téléphone en nous exposant votre projet de recharge pour votre véhicule électrique.`, 
    },
    {
        icon: 'hand-phone', 
        text: `Un de nos électricien agrée IRVE vous propose une <a href="/contacts" class="text-purple">visite technique</a> afin d’étudier votre installation électrique.`, 
    },
    {
        icon: 'list', 
        text: `Notre bureau d’étude établi le bilan de puissance électrique de votre installation et vous propose une solution adaptée à votre installation et votre véhicule.`, 
    },
    {
        icon: 'drill', 
        text: `Après acceptation du devis et prise de rendez vous, votre technicien IRVE vient installer et sécuriser votre station de recharge et vous accompagne dans son utilisation. `, 
    },
    {
        icon: 'case', 
        text: `Vous êtes maintenant autonome en recharge électrique et très content de votre installation.<br> Votre technicien IRVE reste disponible pour toute question.`, 
    },
]
---


<Layout title="Preezeo - Installation et Maintenance">

    <section class="flex flex-col gap-14 justify-center text-center items-center mt-20">
        <Headline />
    </section>


    <Section c="relative mt-20 ml-20">
        <H1 text="Installation et Maintenance" />
        <div class="flex gap-10 justify-between">
            <div class="link-svg ">
                <div class="absolute -top-12 -right-[14px]">
                    <Image 
                        src="/img/logo/head.svg" 
                        alt="Head icon"
                        fetchPriority={true}
                    />
                </div>
                <Image 
                    src="/img/svg/link-bottom.svg" 
                    alt=""
                    fetchPriority={true}
                />
            </div>
        </div>
    </Section>


    <Section>
        <div class="leading-[142%] text-sm">
            <h2 class="flex flex-col font-bold mb-8">
                <span>Nos marques partenaires</span>
                <span class="bg-purple w-10 h-[3px]"></span>
            </h2>
            <div class="flex flex-wrap justify-center items-stretch mt-20 w-full lg:mt-30 gap-x-8 gap-y-20">
                {steps.map((item, index) => (
                    <div class="max-w-[35Opx] w-[calc(50%-20px)] lg:w-[calc(33%-27px)] relative flex flex-col gap-4 bg-light-purple rounded-lg border border-purple pb-10">
                        <div class="absolute right-15 md:right-8 -top-1 -translate-y-full max-h-[30px] max-w-[30px] md:max-h-[75px] md:max-w-[75px]">
                            {item?.icon?.length > 0 &&
                                <Image 
                                    src={`/img/icons/${item.icon}.svg`}
                                    alt=""
                                />
                            }
                        </div>
                        <p class="relative text-purple text-[30px] pl-2 lg:pl-5 w-fit">
                            étape
                            <span class="font-montserrat absolute -right-1 bottom-5 text-[70px] translate-x-full">{index + 1}</span>
                        </p>

                        <p class="px-2 lg:px-8" set:html={item.text}></p>
                    </div>
                ))}
            </div>
        </div>
    </Section>


    <Section smallBottomMargin={true}>
        <div class="leading-[142%] text-sm max-w-[905px] mx-auto">
            <h2 class="flex flex-col font-bold mb-8">
                <span>La Maintenance</span>
                <span class="bg-purple w-10 h-[3px]"></span>
            </h2>
            <p>
                Preezeo assure la maintenance de tout type de bornes même celles installées par une autre société. 
                <br>
                Nos techniciens assurent la maintenance de niveau 1 - 2 - 3. 
                Nous travaillons sur les bornes modes 1 - 2 - 3 - 4.
                <br>
                Il est essentiel de noter que les bornes de recharge sont fabriquées en utilisant un processus électronique qui est à la fois complexe et délicat. 
                Par conséquent, même la plus petite défaillance de certains composants peut entraîner des conséquences graves pour le bon fonctionnement de votre borne. Afin de prévenir de tels dysfonctionnements, il est fortement conseillé d'effectuer un entretien préventif . 
            </p>

            <div class="flex justify-between flex-col lg:flex-row w-full gap-8 mt-8">
                <div class="flex flex-col h-fit bg-light2 w-full rounded-xxl border border-purple p-6">
                    <h3 class="flex flex-col mb-6">
                        <span class="text-[30px] leading-[36px] font-semibold text-metal">Maintenance</span>
                        <span class="text-[40px] leading-[48px] font-bold text-purple">Préventive</an>
                    </h3>
                    <p class="text-sm">
                        Cet entretien a pour objectif de détecter à l'avance d'éventuelles anomalies et de prévenir certaines défaillances qui pourraient ultérieurement causer des pannes. 
                        Il est donc important de veiller régulièrement à :
                    </p>
                    <ul class="text-sm pl-3">
                        <li class="list-disc">Vérifier la connexion des câbles ;</li>
                        <li class="list-disc">Contrôle des points de chauffes;</li>
                        <li class="list-disc">Changer les filtres ;</li>
                        <li class="list-disc">Dépoussiérer les composantes de la borne ;</li>
                        <li class="list-disc">Vérifier le fonctionnement des différents éléments (disjoncteurs et autres).</li>
                        <li class="list-disc">Et plus...</li>
                        <li class="list-disc">Sur devis</li>
                    </ul>
                </div>

                <div class="flex flex-col h-fit bg-light2 w-full rounded-xxl border border-purple p-6">
                    <h3 class="flex flex-col mb-6">
                        <span class="text-[30px] leading-[36px] font-semibold text-metal">Maintenance</span>
                        <span class="text-[40px] leading-[48px] font-bold text-purple">Curative</an>
                    </h3>
                    <p class="text-sm">
                        La gamme de contrats de maintenance curative se détaille en fonction des niveaux de compétences à mobiliser, des délais d'intervention attendus et de la zone géographique.
                        <br><br>
                        Si vous rencontrer un problème quelconque avec votre borne de recharge, vous pouvez nous faire parvenir votre demande via notre 
                        <a href="/contacts">formulaire de contact</a>.
                        <br>
                        Nous interviendrons dans les meilleurs délais.
                    </p>
                </div>
            </div>

            <div class="w-fit mx-auto mt-7 lg:mt-14">
                <ButtonContact />
            </div>
        </div>
    </Section>

    <Section>
        <Tips size="big">
            <p 
                slot="text"
                class="inline gap-1"
            >
                <span class="text-metal text-[19px] tracking-3 leading-[142%]">
                    Il est important de prendre en compte les conséquences néfastes des impacts répétés sur votre borne de recharge. 
                    <br>
                    Il est préférable de choisir un emplacement qui minimise les risques de collision avec votre véhicule électrique. 
                    <br>
                    Si votre borne a subi un choc important qui a endommagé sa coque, il est recommandé de faire appel à un technicien pour vérifier son bon fonctionnement et effectuer les réparations nécessaires, le cas échéant.
                    <br>
                    L'utilisation d'un câble de recharge de qualité médiocre peut entraîner des problèmes de faux contacts au niveau du socle de prise, en particulier lorsqu'il s'agit d'un câble de recharge de Type 2.
                    <br><br>
                    Le vandalisme et les dégradations intentionnelles ou de catastrophes naturelles.
                    Cela peut occasionner des dégâts importants et requérir l'intervention d'un technicien pour une maintenance curative.
                    <br><br>
                    Il est crucial de souligner que lorsqu'un problème survient, l'intervention de maintenance nécessite une expertise complète. La panne peut être d'origine technique, nécessitant le remplacement immédiat d'une pièce défectueuse. 
                    <br>
                    Dans d'autres cas, la panne peut résulter d'un problème logiciel, nécessitant une reprogrammation.
                    <br><br>
                    Il est impératif que l'intervention sur une borne de recharge soit effectuée par un professionnel qualifié. Cela s'applique également à la maintenance. Il est fortement déconseillé de démonter vous-même votre borne de recharge, car cela pourrait entraîner des dommages irréparables.
                </span>
            </p>
        </Tips>
    </Section>

</Layout>

<style lang="scss">
@use '../styles/_variables.scss' as *;

.link-svg {
    @include flex(center,flex-start);
    // @include position(calc(20px + 100%), $left:50%);
    // position: absolute;
    width: max-content;
    max-width: unset;
    translate: 85px 20px;
}


h2 {
    font-weight: 600;
}

a {

}
</style>
