---
import Layout from '../layouts/Layout.astro';
import Headline from '../components/Headline.astro';
import Tips from '../components/Tips.astro';
import ProjectStripe from '../components/ProjectStripe.astro';
import Section from '../components/Section.astro';
import Card from '../components/Card.astro';
import ButtonContact from '../components/ButtonContact.astro';
import Image from '../components/atom/Image.astro';
import CardSelect from '../components/cardSelect.astro';
import H1 from '../components/H1.astro';
import Dropdown from '../components/dropdown.vue';


const houseCards = [
    {html: '<span class="text-purple">TVA 5.5 %</span> si le logement a <span class="text-purple">plus de 2 ans</span>',},
    {html: '<span class="text-purple">TVA 20%</span> si le logement a <span class="text-purple">moins de 2 ans</span>',},
    {html: 'Installation <span class="text-purple">garantie dans la journée',},
    {html: 'Visite technique + Etude + Devis',},
    {html: 'Matériel et installation <span class="text-purple">assurés et garantie par Preezeo</span>',},
    {html: 'Pour locataire et propriétaire',},
    {html: 'Professionnel exerçant à domicile: <span class="text-purple">TVA 5.5% + Prime ADVENIR plafond de 2000 euros</span>',},
    {html: '<a href="/subventions" class="mx-5 link-effect spacing">Tout savoir sur les Subventions</a>',},
    {html: '<a href="/informations" class="link-effect spacing">Informations utiles</a>',},
]

const appartementCardsOne = [
    {html: '<span class="text-purple">TVA 5.5 %</span>',},
    {html: 'Installation <span class="text-purple">garantie dans la journée',},
    {html: `Visite technique <br> Bureau d'étude <br> Devis 48H`},
    {html: 'Matériel et installation <span class="text-purple">assurés et garantie par Preezeo</span>',},
    {html: 'Pour locataire et propriétaire',},
    {html: 'Professionnel exerçant à domicile: <span class="text-purple">TVA 5.5% + Prime ADVENIR plafond de 2000 euros</span>',},
    {html: '<a href="/subventions" class="mx-5 link-effect spacing">Tout savoir sur les Subventions</a>',},
    {html: '<a href="/informations" class="link-effect spacing">Informations utiles</a>',},
]

const appartementCardsTwo = [
    {html: '<span class="text-purple">TVA 5.5 %</span>',},
    {html: 'Installation <span class="text-purple">garantie 1 à 3 jours',},
    {html: `Visite technique <br> Bureau d'étude <br> Devis 48H`},
    {html: 'Matériel et installation <span class="text-purple">assurés et garantie par Preezeo</span>',},
    {html: 'Locataire ou propriétaire <br> Pour usage <span class="text-purple">individuel</span>',},
    {html: 'Professionnel exerçant à domicile: <span class="text-purple">TVA 5.5% + Prime ADVENIR plafond de 2000 euros</span>',},
    {html: '<a href="/subventions" class="mx-5 link-effect spacing">Tout savoir sur les Subventions</a>',},
    {html: '<a href="/informations" class="link-effect spacing">Informations utiles</a>',},
]

const cardSelect = [
    {text: 'Une maison', icon: '/img/icons/flat_house.svg', value:'house'},
    {text: 'Un appartement', icon: '/img/icons/flat_appartement.svg', value:'appartement'},
]

const bigCards = [
    {title: 'Borne partagée', 
        text: `
            Dans ce cas, <span class="text-purple">plusieurs appartements partagent une même prise de recharge</span>. 
            Cela peut être une solution pratique si le nombre de résidents souhaitant recharger leur véhicule est limité. 
            Les avantages de la prise partagée incluent des <span class="text-purple">coûts d'installation initiaux réduits et une gestion simplifiée</span>.             
            <br>
            Cependant, il peut y avoir des contraintes en termes de disponibilité de la prise et de temps de charge partagé entre les utilisateurs.
        `
    },
    {title: 'Borne individuelle', 
        text: `
            L'installation d'une prise individuelle dans chaque appartement offre une solution plus personnalisée et flexible. 
            <span class="text-purple">Chaque résident dispose de sa propre prise de recharge</span>, ce qui lui permet de recharger son véhicule à tout moment, 
            sans dépendre des autres résidents. <span class="text-purple">Cela garantit une disponibilité constante et évite les éventuels conflits d'utilisation</span>. 
            Toutefois, cela peut nécessiter des travaux d'installation plus importants et des coûts plus élevés pour chaque résident.
        `
    }
]
---
<script>
    const cardSelect = [...document.querySelectorAll('.card-select')]
    const viewsWrapper = document.querySelector('.views-wrapper')
    let activeCard = 'house'
    cardSelect[0]?.classList.add('active')
    cardSelect.forEach(item => {
        item.addEventListener('click', (e) => {
            const target = e.target as Element
            cardSelect.forEach(item => item.classList.remove('active'))
            target.classList.add('active')
            activeCard = target.getAttribute('data-value')
            viewsWrapper.setAttribute('data-active', activeCard)
        })
    })
</script>


<Layout title="Preezeo - Particulier">
    <section class="flex flex-col gap-14 justify-center text-center items-center mt-20">
        <Headline />
    </section>

    <Section c="relative mt-20 xl:ml-20">
        <H1 text="pour particuliers" />
        <div class="flex flex-col lg:flex-row gap-10 justify-between">
            <div class="link-svg">
                <div class="absolute sm:-top-9 sm:-right-3 top-15 right-9 lg:-right-3 lg:max-w-[70px]">
                    <Image 
                        src="/img/icons/house.svg" 
                        alt="House icon"
                        fetchPriority={true}
                    />
                </div>

                <div class="block sm:hidden sm:translate-x-0 sm:translate-y-0 translate-x-10 translate-y-2">
                    <svg width="223" height="66" viewBox="0 0 223 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="208.027" y="35.5059" width="10.1989" height="1.82688" fill="#FFB800"/>
                        <rect x="203.973" y="40.2793" width="18.6511" height="1.83603" fill="#FFB800"/>
                        <line x1="213.185" y1="64.1172" x2="213.185" y2="41.8218" stroke="#FFB800" stroke-width="2.24666"/>
                        <path d="M0 63.8789H214.3" stroke="#FFB800" stroke-width="2.24666"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.50447 15.6418V0.388672H0.257812V15.9441H0.258374V17.8885H9.23587L0.330429 43.5562H0.260046V63.3894H2.5067V44.132L11.6119 17.8885H18.2316V15.6418H12.3914L13.9842 11.0508L11.7997 10.499L10.0154 15.6418H2.50447Z" fill="#FFB800"/>
                    </svg>
                </div>
                <div class="hidden sm:block">
                    <svg width="377" height="99" viewBox="0 0 377 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="345.023" y="43" width="22.698" height="4.91639" rx="2.45819" fill="#FFB800"/>
                        <rect x="335" y="55.8477" width="41.5086" height="4.941" rx="2.4705" fill="#FFB800"/>
                        <path d="M356 96.0117V53.9998" stroke="#FFB800" stroke-width="5" stroke-linecap="round"/>
                        <line x1="355.507" y1="96.0035" x2="2.50349" y2="96.4965" stroke="#FFB800" stroke-width="5" stroke-linecap="round"/>
                        <path d="M5 3C5 1.61929 3.88071 0.5 2.5 0.5C1.11929 0.5 0 1.61929 0 3H5ZM5 96L5 3H0L0 96H5Z" fill="#FFB800"/>
                    </svg>
                </div>
            </div>

            <div class="flex flex-col gap-6 lg:-translate-y-1/2">
                <p class="font-bold">J'habite dans :</p>
                <div class="grid grid-cols-2 gap-4 md:gap-6 items-stretch">
                    <CardSelect items={cardSelect} transition:persist />
                </div>
            </div>
        </div>
    </Section>


    <div class="views-wrapper xl:ml-20" data-active="house" transition:persist>
        <div class="house-view">
            <Section flex={true}>
                <Tips
                    title="Le crédit d'impôts et taux de TVA réduit"
                >
                    <p 
                        slot="text"
                        class="inline gap-1"
                    >
                        <span class="font-medium text-[15px] tracking-3 leading-[142%]">
                            <span class="text-purple">Le crédit d’impôts</span> 
                            pour la transition énergétique permet aux propriétaires et locataires d’une 
                            <span class="text-purple">résidence principale</span> de déduire jusqu’à
                            <span class="text-purple">300 euros</span> des dépenses liées à l’acquisition 
                            d’une borne de recharge pour véhicules électriques installée à domicile.
                            <br>
                            Depuis le 1er janvier 2023, la TVA à 5,5% a été entendue et est désormais disponible pour tous les logements. 
                            L’attestation de TVA, permettant de confirmer que le bâtiment est achevé depuis plus de 2 ans, 
                            n’est donc plus nécessaire.
                        </span>
                    </p>
                </Tips>
            </Section>
        
            <Section smallBottomMargin={true}>
                <div class="flex flex-col gap-2 mb-10">
                    <h2 class="text-base font-bold">Vous habitez une maison individuelle</h2>
                    <span class="bg-purple h-[4px] w-[200px] block"></span>
                </div>
                <div class=`lg:grid lg:grid-cols-3 gap-4 max-w-[880px] mx-auto flex overflow-x-scroll scrollbar-hide w-[100vw] -translate-x-[5vw] snap-x snap-mandatory px-10`>
                    {houseCards.map((item) => (
                        <div class="flex items-center justify-center snap-center">
                            <Card 
                                color="light"
                                shadow={true}
                                border={true}
                            >  
                                <div slot="content" class="flex flex-col align-center justify-center gap-2 h-[160px] min-w-[160px]">
                                    <h3 class="font-montserrat font-bold text-sm text-center" set:html={item.html}></h3>
                                </div>
                            </Card>
                        </div>
                    ))}
                </div>
            </Section>
        
            <Section flex={true} smallBottomMargin={true}>
                <ButtonContact />
            </Section>
        
            <Section flex={true}>
                <Tips
                    title="Combien coûte la recharge en maison individuelle ?"
                    isBig={true}
                >
                    <p 
                        slot="text"
                        class="inline gap-1"
                    >
                        <span class="font-medium text-[15px] tracking-3 leading-[142%]">
                            En moyenne et sur une base de la tarification réglementée de vente (TRV), le coût d’une recharge en heures creuses pour <span class="text-purple">100 km d’autonomie (consommation de 15kWh/100km) est d’environ 2 euros et 3 euros en heures pleines.</span>
                            <br>
                            Plus la puissance est importante, moins long sera le temps de recharge. Cela dépend aussi de votre chargeur embarqué dans votre véhicule électrique. 
                            Rendez-vous sur la page <a href="/informations" class="link-effect">informations utiles</a> pour en savoir plus.
                        </span>
                    </p>
                </Tips>
            </Section>
        </div>

        <div class="appartement-view">
            <Section smallBottomMargin={true}>
                <p class="relative text-[15px] tracking-[0.03em] leading-[142%] max-w-[600px] font-montserrat font-medium">
                    Lorsqu'il s'agit de la recharge des véhicules électriques dans <span class="text-yellow font-semibold">un appartement au sein d'une copropriété</span>, deux options sont généralement envisagées :
                    <span class="text-purple font-semibold">La borne partagée et la borne individuelle.</span>
                    <br>
                    <br>
                    <br>
                    Voici les caractéristiques et avantages de chaque solution :
                </p>
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mx-auto mt-6 w-full lg:ml-6">
                    {bigCards.map((item) => (
                        <article class="flex flex-1 gap-3 relative flex-col rounded-lg p-6 border border-purple bg-light-purple">
                            <h3 class="font-montserrat font-semibold text-[15px] text-purple">{item.title}</h3>
                            <p class="text-sm text-metal font-medium" set:html={item.text}></p>
                        </article>
                    ))}
                </div>
            </Section>
            <Section smallBottomMargin={true}>
                <div class="flex flex-col gap-2 mb-10">
                    <h2 class="text-base font-bold">Borne de recharge à usage partagé par les copropriétaires</h2>
                    <span class="bg-purple h-[4px] w-[200px] block"></span>
                </div>
                <div class=`lg:grid lg:grid-cols-3 gap-4 max-w-[880px] mx-auto flex overflow-x-scroll scrollbar-hide w-[100vw] -translate-x-[5vw] snap-x snap-mandatory px-10`>
                    {appartementCardsOne.map((item) => (
                        <div class="flex items-center justify-center snap-center">
                            <Card 
                                color="light"
                                shadow={true}
                                border={true}
                            >  
                                <div slot="content" class="flex flex-col align-center justify-center gap-2 h-[160px] min-w-[160px]">
                                    <h3 class="font-montserrat font-bold text-sm text-center" set:html={item.html}></h3>
                                </div>
                            </Card>
                        </div>
                    ))}
                </div>
            </Section>
            <Section flex={true} smallBottomMargin={true}>
                <ButtonContact />
            </Section>
            <Section smallBottomMargin={true}>
                <div class="flex flex-col gap-2 mb-10">
                    <h2 class="text-base font-bold">Borne de recharge à usage individuel</h2>
                    <span class="bg-purple h-[4px] w-[200px] block"></span>
                </div>
                <div class=`lg:grid lg:grid-cols-3 gap-4 max-w-[880px] mx-auto flex overflow-x-scroll scrollbar-hide w-[100vw] -translate-x-[5vw] snap-x snap-mandatory px-10`>
                    {appartementCardsTwo.map((item) => (
                        <div class="flex items-center justify-center snap-center">
                            <Card 
                                color="light"
                                shadow={true}
                                border={true}
                            >  
                                <div slot="content" class="flex flex-col align-center justify-center gap-2 h-[160px] min-w-[160px]">
                                    <h3 class="font-montserrat font-bold text-sm text-center" set:html={item.html}></h3>
                                </div>
                            </Card>
                        </div>
                    ))}
                </div>
            </Section>
            <Section flex={true} smallBottomMargin={true}>
                <ButtonContact />
            </Section>
            <Section flex={true}>
                <Tips>
                    <p 
                        slot="text"
                        class="inline gap-1"
                    >
                        <span class="font-medium text-[15px] tracking-3 leading-[142%]">
                            Il est important de noter que le choix entre <span class="text-yellow">une prise partagée</span> et <span class="text-yellow">une prise individuelle</span>
                            dépend des contraintes spécifiques de la copropriété, du nombre de résidents intéressés 
                            par la recharge des véhicules électriques et des ressources disponibles. 
                            Il est recommandé d'engager des discussions au sein de la copropriété et de consulter 
                            des professionnels de l'énergie et de l'électricité pour prendre la décision la plus 
                            adaptée à la situation.

                        </span>
                    </p>
                </Tips>
            </Section>
        
        </div>
    </div>




    <Section flex={true} smallBottomMargin={true}>
        <ProjectStripe />
    </Section>
</Layout>

<style lang="scss">
@use '../styles/_variables.scss' as *;

.link-svg {
    @include flex(center,flex-start);
    // @include position(calc(20px + 100%), $left:50%);
    // position: absolute;
    width: max-content;
    max-width: unset;
    
    @media screen and (min-width: 480px) {
        translate: 85px 20px;
    }
}

.views-wrapper {
    .house-view, .appartement-view {
        display: none;
    }
    &[data-active="house"] .house-view {
        display: block;
    }
    &[data-active="appartement"] .appartement-view {
        display: block;
    }
}


</style>
