---
import Layout from '../layouts/Layout.astro';
import HeadlineBasic from '../components/HeadlineBasic.astro';
import Tips from '../components/Tips.astro';
import ProjectStripe from '../components/ProjectStripe.astro';
import Section from '../components/Section.astro';
import Card from '../components/Card.astro';
import ButtonContact from '../components/ButtonContact.astro';
import Image from '../components/atom/Image.astro';
import Button from '../components/atom/Button.astro';
import H1 from '../components/H1.astro';
import PageHero from '../components/PageHero.astro';
import DropdownTroncat from '../components/dropdownTroncat.vue';
import Slider from '../components/slider.vue';
import type APropos from './a-propos.astro';

const textIntro = `
    <span class="leading-1">
        Bienvenue chez
    </span>
    <span class="inline-block w-[100px] mr-[3px] mb-[-2px] lg:mb-0">
        <Image 
            slot="logo"
            src="/img/logo/text_burgundy.svg" 
            alt="Preezeo colored Logo"
            display='inline'
            fetchPriority={true}
        />
    </span>
    <span class="leading-1">, votre Partenaire de Confiance pour une Mobilité Électrique Performante.
        <br>
        <br>
        Ici, nous comprenons les besoins spécifiques des professionnels qui cherchent à embrasser la mobilité électrique tout en maintenant une efficacité économique optimale. Notre engagement envers les petites entreprises, les gîtes, les golfs, les hôtels, les campings et bien d'autres, réside dans notre détermination à offrir un service de qualité supérieure.
        <br>
        <br>
        En tant que spécialistes des solutions de recharge pour véhicules électriques, nous allions notre expertise à une connaissance approfondie des réglementations gouvernementales en constante évolution. Cela nous permet de vous proposer une configuration sur mesure, parfaitement adaptée à vos besoins et obligations. Que vous cherchiez à offrir des services de recharge à vos clients ou à votre personnel, nous vous accompagnons dans chaque étape pour vous garantir une transition en douceur vers la mobilité électrique.
        <br>
        <br>
        Chez 
    </span>
    <span class="inline-block w-[100px] mr-[3px] mb-[-2px] lg:mb-0">
        <Image 
            slot="logo"
            src="/img/logo/text_burgundy.svg" 
            alt="Preezeo colored Logo"
            display='inline'
            fetchPriority={true}
        />
    </span>
    <span>, notre priorité est de vous offrir bien plus qu'une simple borne de recharge. Nous vous proposons une solution complète, taillée sur mesure pour votre entreprise, tout en prenant en compte vos objectifs financiers. Rejoignez nous dans cette transition vers un avenir plus propre et plus performant, tout en bénéficiant d'une expertise inégalée et d'un service client dévoué.</span>       
`

const bigCards = [
    {title: 'Attirer une clientèle électromobile', text: "En installant une borne de recharge, les professionnels peuvent <span class='text-purple font-semibold'>attirer et fidéliser une clientèle sensible aux enjeux environnementaux</span> et qui privilégie les véhicules électriques. Offrir un service de recharge facilement accessible peut devenir un <span class='text-purple font-semibold'>réel avantage concurrentiel</span>, en montrant son engagement en faveur de la mobilité durable."},
    {title: 'Améliorer l’expérience client', text: "Les bornes de recharge permettent aux clients de recharger leurs véhicules pendant leur visite ou leur séjour, ce qui peut <span class='text-purple font-semibold'>améliorer leur expérience globale</span>. Qu'il s'agisse d'un restaurant, d'un golf ou d'un établissement recevant du public, offrir la possibilité de recharger son véhicule sans contrainte offre <span class='text-purple font-semibold'>un confort supplémentaire à la clientèle.</span>"},
    {title: 'Prolonger la durée de visite', text: "Les bornes de recharge incitent les <span class='text-purple font-semibold'>propriétaires de véhicules électriques à rester plus longtemps sur place</span>. Par exemple, au sein d'un golf, les joueurs peuvent recharger leur voiture pendant qu'ils profitent d'une partie, ce qui peut les encourager à passer plus de temps sur le parcours. De même, pour les restaurants ou les établissements recevant du public, <span class='text-purple font-semibold'>les clients peuvent prolonger leur séjour sans se soucier de la disponibilité de la recharge.</span>"},
    {title: 'Promouvoir une image écologique', text: "En installant une borne de recharge, les professionnels envoient <span class='text-purple font-semibold'>un message fort en faveur de l'environnement</span>. Cela démontre leur engagement envers la <span class='text-purple font-semibold'>transition énergétique et leur volonté de réduire leur empreinte carbone</span>. Cette démarche peut être perçue positivement par les clients, renforçant ainsi leur <span class='text-purple font-semibold'>image de marque responsable et durable.</span>"},
    {title: 'Favoriser les déplacements professionnel', text: "Pour les entreprises privées, disposer de bornes de recharge permet de faciliter les déplacements professionnels en véhicules électriques pour leurs employés. <span class='text-purple font-semibold'>Cela encourage l'adoption de voitures électriques dans la flotte d'entreprise et contribue à réduire les émissions de CO2</span>. De plus, offrir une infrastructure de recharge au sein de l'entreprise peut être perçu comme <span class='text-purple font-semibold'>un avantage attractif pour les employés et les visiteurs.</span>"},
]

---

<Layout title="Preezeo - Professionnels">
    <HeadlineBasic />

    <PageHero h1="pour infrastructures professionnels" icon="building"/>

    <Section c="hidden lg:block lg:px-6" smallBottomMargin={true}>
        <div class="flex flex-col gap-10 lg:px-20">
            <p class="font-medium text-[19px] max-h-[300px] lg:max-h-full" set:html={textIntro}>
            </p>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mx-auto w-full">
                {bigCards.map((item) => (
                    <article class="flex flex-1 gap-3 relative flex-col rounded-lg p-6 border border-purple bg-light-purple">
                        <h3 class="font-montserrat font-semibold text-[19px] text-purple">{item.title}</h3>
                        <p class="text-sm text-metal font-medium" set:html={item.text}></p>
                    </article>
                ))}
            </div>
        </div>
    </Section>

    <div class="block lg:hidden mb-10">
        <div class="px-[5vw] mb-10">
            <DropdownTroncat client:only>
                <p set:html={textIntro}></p>
            </DropdownTroncat>
        </div>
        <Slider 
            items={bigCards} 
            itemClass="slider-card-default"
            slot={true}
            client:load
        >
            <article slot="slide-0" class="slider-big-card">
                <h3 class="font-montserrat font-semibold text-[19px] text-purple">{bigCards[0].title}</h3>
                <p class="text-sm text-metal font-medium" set:html={bigCards[0].text}></p>
            </article>
            <article slot="slide-1" class="slider-big-card">
                <h3 class="font-montserrat font-semibold text-[19px] text-purple">{bigCards[1].title}</h3>
                <p class="text-sm text-metal font-medium" set:html={bigCards[1].text}></p>
            </article>
            <article slot="slide-2" class="slider-big-card">
                <h3 class="font-montserrat font-semibold text-[19px] text-purple">{bigCards[2].title}</h3>
                <p class="text-sm text-metal font-medium" set:html={bigCards[2].text}></p>
            </article>
            <article slot="slide-3" class="slider-big-card">
                <h3 class="font-montserrat font-semibold text-[19px] text-purple">{bigCards[3].title}</h3>
                <p class="text-sm text-metal font-medium" set:html={bigCards[3].text}></p>
            </article>
            <article slot="slide-4" class="slider-big-card">
                <h3 class="font-montserrat font-semibold text-[19px] text-purple">{bigCards[4].title}</h3>
                <p class="text-sm text-metal font-medium" set:html={bigCards[4].text}></p>
            </article>
        </Slider>
    </div>

    <Section flex={true} smallBottomMargin={true}>
        <ButtonContact />
    </Section>

    <Section flex={true} smallBottomMargin={true}>
        <Tips btn={true} size="small">
            <p 
                slot="text"
                class="inline gap-1"
            >
                <span class="mobile-text lg:font-medium lg:text-[19px] tracking-3 leading-[142%]">
                    L'installation de bornes de recharge au sein des entités professionnelles présente de nombreux avantages, allant de 
                    <span class='text-purple'>l'attraction d'une clientèle électromobile à l'amélioration de l'expérience client en passant par la promotion d'une image écologique</span>. 
                    De plus, cela favorise la transition vers une mobilité plus durable et peut contribuer à renforcer l'engagement en faveur de l'environnement.
                </span>
            </p>
        </Tips>
    </Section>
</Layout>

<style lang="scss">
@use '../styles/_variables.scss' as *;

.link-svg {
    @include flex(center,flex-start);
    // @include position(calc(20px + 100%), $left:50%);
    // position: absolute;
    width: max-content;
    max-width: unset;
    translate: 85px 20px;
}



</style>
